<%
  glossary_terms_hash = @service.glossary.terms_hash
 title = "#{@service.name} service API documentation"
%>

<html>
  <head>
    <title><%= title %></title>

    <style type='text/css' media='screen'>
      <%= erb :styles %>
    </style>
  </head>
  <body>
  <div class='content'>
    <h1><%= title %></h1>
    <h4>Code name</h4>
    <p><%= @service.code_name %></p>

    <h4>Version</h4>
    <p><%= @service.version %></p>

    <h3>Operations</h3>
    <p>
      Here are the available API operations.
    </p>

    <table>
      <thead>
        <tr>
          <td>Operations Index</td>
        </tr>
      </thead>
      <tbody>
        <% @service.operations.each do |(controller_name, operations)| %>
          <% operations.each do |operation| %>
            <tr>
              <td>
                <a href='#operation-<%= controller_name %>-<%= operation.code_name %>'>
                  <%= controller_name %>#<%= operation.code_name %>
                </a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <% if @service.proxy_operations.any? %>
    <p></p>
    <table>
      <thead>
        <tr><td>Proxy Operations Index</td></tr>
      </thead>
      <tbody>
        <% @service.proxy_operations.each do |operation| %>
          <tr><td>
            <a href='#proxy-operation-<%= operation.code_name %>'>
              <%= operation.code_name %>
            </a>
          </td></tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <% @service.operations.each do |(controller_name, operations)| %>
      <% operations.each do |operation| %>
        <div class='operation' id='operation-<%= controller_name %>-<%= operation.code_name %>'>
          <h4>
            <%= operation.name %>
          </h4>

          <h5>Description</h5>
          <p><%= operation.description %></p>

          <table class='vertical-header split'>
            <tbody>
              <tr>
                <td>HTTP Method</td>
                <td><%= operation.http_method %></td>
              </tr>
              <tr>
                <td>URI</td>
                <td><%= operation_path(operation) %></td>
              </tr>
              <tr>
                <td>Code name</td>
                <td><%= operation.code_name %></td>
              </tr>
            </tbody>
          </table>

          <% unless operation.uri_elements.empty? %>
            <h5>URI Params</h5>
            <table>
              <thead>
                <tr>
                  <td>Parameter</td>
                  <td>Description</td>
                </tr>
              </thead>
              <tbody>
                <% operation.uri_elements.each do |element| %>
                  <tr>
                    <td><%= element.name %></td>
                    <td>
                      <%= element.description %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>


          <% if !operation.request_elements.empty? %>
          <h5>Request params</h5>
          <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Required?</td>
              </tr>
            </thead>
            <tbody>
              <% operation.request_elements.each do |element| %>
                <tr>
                  <td><%= element.name %></td>
                  <td>
                    <%= element.description %><br />
                    Type: <%= h_type(element.type, @service) %><br />
                    Restrictions: <%= element.constraints %><br />
                    Valid Values: <%= element.valid_values %><br />
                    <% if glossary_terms_hash.include?(element.name)
                         glossary_term = glossary_terms_hash[element.name]
                      %>
                      Glossary:
                      <a href='#glossary-term-<%= glossary_term.short_name %>'>
                        <%= glossary_term.long_name %>
                      </a>
                      <br />
                    <% end %>
                  </td>
                  <td><%= element.required %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>

          <% if !operation.response_elements.empty? %>
          <h5>Response elements</h5>
          <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Required?</td>
              </tr>
            </thead>
            <tbody>
              <% operation.response_elements.each do |element| %>
                <tr>
                  <td><%= element.name %></td>
                  <td>
                    <%= element.description %><br />
                    <% if element.type %>
                      Type: <%= h_type(element.type, @service) %><br />
                    <% else %>
                      Container: <%= h_type(element.elements_type, @service) %><br />
                    <% end %>
                    <% if element.default %>
                      Default value: <%= element.default %>
                    <% end %>
                  </td>
                  <td><%= element.required %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>

          <% if !operation.messages.empty? %>
          <h5>Messages</h5>
          <table>
            <thead>
              <tr>
                <td>Level</td>
                <td>Key</td>
                <td>Description</td>
                <td>HTTP Status Code</td>
              </tr>
            </thead>
            <tbody>
              <% operation.messages.each do |message| %>
                <tr>
                  <td><%= message.level %></td>
                  <td><%= message.key %></td>
                  <td><%= message.description %></td>
                  <td><%= message.status_code %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <h3>Representations</h3>
    <% @service.representations.each do |representation| %>
    <div class='representation' id='representation-<%= representation.name %>'>
      <h4><%= representation.name %></h4>
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Required?</td>
          </tr>
        </thead>
        <tbody>
          <% representation.fields.each do |field| %>
            <tr>
              <td><%= field.name %></td>
              <td>
                <%= field.description %><br />
                <% if field.type %>
                  Type: <%= h_type(field.type, @service) %><br />
                <% else %>
                  Container: <%= h_type(field.elements_type, @service) %><br />
                <% end %>
              </td>
              <td><%= field.required %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>

    <% if @service.proxy_operations.any? %>
    <h3>Proxy Operations</h3>
    <div id='proxy_operations' class='proxy_operations'>
      <table>
        <thead>
          <tr>
            <td>Code name</td>
            <td>HTTP Method</td>
            <td>URI</td>
            <td>Service</td>
          </tr>
        </thead>
        <tbody>
          <% @service.proxy_operations.each do |operation| %>
            <tr id='proxy-operation-<%= operation.code_name %>'>
              <td>
                <%= operation.code_name %>
              </td>
              <td><%= operation.http_method %></td>
              <td><%= operation_path(operation) %></td>
              <td><%= operation.service_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>

    <% if @service.glossary.terms.any? %>
    <h3>Glossary</h3>
    <div class='glossary'>
      <table>
        <thead>
          <tr>
            <td>Short Name</td>
            <td>Long Name</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
        <% @service.glossary.terms.each do |term| %>
          <tr id='glossary-term-<%= term.short_name %>'>
            <td><%= term.short_name %></td>
            <td><%= term.long_name %></td>
            <td><%= term.description %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% end %>

  </body>
</html>
